body {
    background-color: #EEEEEE;
    padding: 0;
    margin: 0;
}

header {
    background-color: #FBFBFB;
}

#logo {
    display: block;
    height: 80px;
    padding: 50px;
    margin: auto;
}

#name {
    display: block;
    font-family: 'Montserrat';
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 50px auto;
}

#headshot {
    display: block;
    width: 400px;
    margin: auto;
    filter: grayscale(100%);
}

.project {
    display: block;
    width: 1000px;
    margin: 50px auto;
    padding: 100px 0;
    border-radius: 20px;
    background-color: #FBFBFB;
}

.project > h2 {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 700px;
    margin: 20px auto;
}

.project > h3 {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    width: 700px;
    margin: 20px auto;
}

.project > button {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 70px;
    width: 200px;
    color: #FBFBFB;
    background-color: black;
    margin: 30px auto;
    padding: 20px;
    border-radius: 70px;
}