body {
    background-color: #ffffff;
    margin: 200px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

main {
    display: block;
    width: 800px;
    margin: 50px auto;
}

* {
    font-family: 'Montserrat';
}

#logo {
    height: 60px;
}

#about {
    font-family: 'Montserrat';
    font-weight: 500;
    color: black;
}

header {
    display: block;
    width: 100%;
    margin: 200px auto;
    text-align: center;
}

header > h1 {
    font-size: 60px;
    margin: 0;
}

header > h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

#headshot {
    display: block;
    width: 400px;
    margin: auto;
    filter: grayscale(100%);
}

a:link {
    text-decoration: none;
}

.project {
    display: block;
    margin: 50px auto;
    padding: 50px 0;
    border-radius: 20px;
    background-color: #FBFBFB;
    transition: .1s;
}

.project > h2 {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 700px;
    margin: 20px auto;
}

.project > h3 {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    width: 700px;
    margin: 20px auto;
}

.project > button {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 70px;
    width: 200px;
    color: #FBFBFB;
    background-color: black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 70px;
    border: none;
}

.project:hover {
    transform: scale(1.03);
}

button:hover {
    cursor: pointer;
}

.project-type {
    font-weight: 500;
}

.article-title {
    font-size: 65px;
    padding: 0 10% 0 0;
}

.article-subtitle {
    font-size: 25px;
    font-weight: 500;
}

.article-image {
    display: block;
    margin: auto;
}

#aub-subtitle {
    margin-bottom: 0;
}

.article-section {
    font-weight: 600;
    font-size: 40px;
    margin: 60px 0 20px 0;
}

.article-text {
    font-size: 20px;
    line-height: 130%;
}

.article>h5 {
    font-size: 20px;
    line-height: 100%;
    margin: 20px 0px 0px 0px;
}

.article>p {
    font-size: 16px;
}

#lego {
    background-image: url('images/lego-bg.png');
    background-size: cover;
    background-position: center;
}

.project:hover {
    cursor: pointer;
}

#aub {
    background-image: url(images/aub-bg.png);
    background-size: cover;
    background-position: center;
}

#aub > h2 {
    width: 450px;
}

#aub > h3 {
    width: 500px;
}

.project > button {
    background-color:rgba(0, 0, 0, .8);
}

.project > button:hover {
    background-color:rgba(30, 30, 30, .8);
}

.half-width {
    width: 50%;
}

.pdf-link {
    text-decoration: underline !important;
    color: black;
}